
/* CSS edits on the play.html */
body{
    font-family: 'Noto Sans', sans-serif;
      margin:0;
      width:100%;
      height:100vh;
      background-image: url("../img/c.jpg");  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  
  }

  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#666;}

  #jumbo{
        padding: 30px;
        margin-bottom: 30px;
        font-size: 21px;
        font-weight: 200;
        line-height: 2.1428571435;
        background-color: rgb(224, 84, 18);
        -webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
        animation: background 5sinfinite;    
     }
@-webkit-keyframes background {
  0% { background-color: rgb(33, 22, 189); }
  12.5% { background-color: rgb(204, 7, 204); }  
  25% { background-color: rgb(253, 1, 157); }
  37.5% { background-color: rgb(250, 2, 23); }
    50% { background-color: rgb(250, 40, 3); }
  62.5% { background-color: rgb(235, 252, 0); }  
  75% { background-color: rgb(5, 255, 17); }
  87.5% { background-color: rgb(2, 219, 248); }
  100% { background-color:  rgb(33, 22, 189);}
}
#form{
    margin: 15%;
    background-color: aliceblue;
    align: center;
}
.container{
    background-color: rgb(54, 33, 18);
    padding-top: 2.5%;
    padding-bottom: 15%
}
#form-group{
    margin: 15%;
    background-color: aliceblue;
    align: center;
    margin: 25%
}

#form1{
    margin: 15%;
    background-color: aliceblue;
    align: center;
}
.aboutI {
    margin: 10%;
    align: center;
}


/* CSS edits on the about.html */
.header{
    background-color: aliceblue;
    margin: 10%;
    align-self: center;
}
.body{
    background-color: aliceblue;
    margin: 10%;
    align-self: center;
}
.footer{
    background-color: aliceblue;
    margin: 10%;
    align-self: center;
}